body {
    width: 100%;
    height: 100%;
    background-color: #ececec;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
/* ----start of color holder styling---- */
.box {
    width: 270px;
    height: 150px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    overflow: hidden;
    border: 5px solid snow;
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.61);
}
/* ----end of color holder styling---- */
/* ----start of color boxes styling---- */
.color1 {
    width: 50%;
    height: 100%;
    transition: 250ms;
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.582);
    display: flex;
    justify-content: center;
}
/* ----end of color boxes styling---- */
/* ----hex codes style---- */
.hex {
    font-family: sans-serif;
    text-align: center;
    font-weight: 600;
    color: transparent;
    transition: 250ms;
    padding: 2px;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
}
.box:hover .hex {
    background-color: #424242;
    color: whitesmoke;
}
/* ----hex codes style---- */
.d {
    width: 50px;
    height: 50px;
}